.server {
  background-color: #ffffff;
  &-status.success {
    color: @status_success;
    font-size: 32px;
    cursor: pointer;
  }
  &-status.fail {
    color: @status_fail;
    font-size: 32px;
    cursor: pointer;
  }
}